<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
<<<<<<< HEAD
<<<<<<< HEAD
  <button type="submit">Log Out_hello</button>
=======
  <button type="submit">Logout_byebye</button>
>>>>>>> 2dabcf790879eeb904463ae1fe4e2960dd992e6f
=======

  <button type="submit">Logout_byebye_hello</button>

>>>>>>> f00ddd0cba0bf6e1d93d697f1aeb6782df290f4e
</form>
