<h1>Login</h1>
<% if (messages.error) { %>
  <%= messages.error %>
<% } %>
<form action="/login" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email plz" required>
  </div>
  <div>
<<<<<<< HEAD
    <label for="password">Password</label>
    <input type="password" id="password" name="password plz" required>
=======
    <label for="password">Passwordgithub</label>
    <input type="password" id="password" name="password" required>
>>>>>>> 75e349335f22edee7e76013fc46672075e134566
  </div>
  <button type="submit">Login</button>
</form>
<a href="/register">Register</a>
